@import "_mixins.scss";

.login-content {
  padding: 50px 60px 20px 60px;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    h2 {
      @include smkdText(1.3em, 300, center, #2E2E2E);
    }

    img {
      margin-top: 25px;
      width: 140px;
    }
  }

  .login-form, .signUp-form {
    .validate-button {
      margin-top: 30px;
    }

    .err-container {
      display: flex;
      margin-top: 23px;

      p {
        @include smkdText(0.825em, 300, center, #f74c4c);
      }
    }
  }

  .steam-login {
    margin-top: 30px;
  }

  .bottom-text {
    margin-top: 50px;

    p {
      @include smkdText(0.7em, 600, center, #2E2E2E);

      span {
        color: #0073AA;
        cursor: pointer;
      }
    }
  }
}