@import "../../../style/sass/_mixins.scss";

.Content {
  padding: 50px;

  h1 {
    @include smkdText(1.4em, 400, left, #4a6076);
    margin-bottom: 25px;
  }

  .content-content {
    display: flex;

    .filters {
      background-color: white;
      border-top: 4px solid rgba(0, 115, 170, 0.5);
      border-radius: 2px;
      width: 220px;
      padding: 25px 35px;
      margin-right: 50px;

      h2 {
        @include smkdText(1em, 400, left, #2E2E2E);
      }

      .filter-category {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        margin-top: 25px;

        h3 {
          img {
            width: 10px;
            margin-right: 10px;
          }
          @include smkdText(0.9em, 400, left, #2E2E2E);
        }

        ul {
          list-style: none;
          padding-left: 10px;
          margin-top: 5px;

          li {
            display: flex;
            align-items: center;

            p {
              @include smkdText(0.9, 400, left, #2E2E2E);
            }
          }
        }
      }
    }

    .map-container {
      width: 750px;
      height: 750px;
      position: relative;

      .map {
        width: 100%;
        height: 100%;
      }

      .nade {
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background: white;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
}