.App .Navbar {
  width: calc(100% - 235px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  position: relative;
  flex-direction: row;
  height: 65px;
  background-color: white; }
  .App .Navbar .sidebar-shrinker, .App .Navbar .fullscreen-container, .App .Navbar .sidebar-trigger, .App .Navbar .login-container {
    width: 100px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center; }
    .App .Navbar .sidebar-shrinker img, .App .Navbar .fullscreen-container img, .App .Navbar .sidebar-trigger img, .App .Navbar .login-container img {
      width: 20px;
      cursor: pointer; }
  .App .Navbar .sidebar-trigger {
    display: none; }
  .App .Navbar .login-container {
    width: 200px;
    margin-left: auto; }
    .App .Navbar .login-container p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      font-weight: 600;
      color: #2E2E2E;
      text-align: center;
      margin: 0; }
    .App .Navbar .login-container .user-container {
      display: flex;
      align-items: center;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer; }
      .App .Navbar .login-container .user-container .profile-picture {
        width: 25px;
        border-radius: 20px;
        margin-right: 10px; }
      .App .Navbar .login-container .user-container p {
        font-family: "Open Sans", sans-serif;
        font-size: 0.9em;
        font-weight: 400;
        color: #2E2E2E;
        text-align: left;
        margin: 0; }
      .App .Navbar .login-container .user-container .dropdown-arrow {
        width: 12px;
        margin-left: 10px; }

@media screen and (max-width: 1024px) {
  .App .Navbar {
    width: calc(100% - 50px); }
    .App .Navbar .sidebar-shrinker {
      display: none; } }
@media screen and (max-width: 768px) {
  .App .Navbar {
    width: 100%; }
    .App .Navbar .sidebar-trigger {
      display: flex; } }
.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid #23282d;
  padding: 0.6rem 2rem 0.6rem 3rem; }
  .custom-button .circle {
    background-color: #23282d;
    height: 0.75rem;
    width: 0.75rem;
    border-radius: 100%;
    margin-right: 0.75rem;
    position: absolute;
    left: 1rem;
    transition: 0.2s; }
  .custom-button .text {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: black;
    text-align: auto;
    margin: 0;
    position: relative;
    left: 0;
    transition: 0.5s; }
  .custom-button:hover .circle {
    transform: scale(20); }
  .custom-button:hover .text {
    left: -0.5rem;
    color: white; }

.validate-button {
  width: 100%;
  height: 45px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.42);
  background: rgba(0, 0, 0, 0);
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer; }
  .validate-button span {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #2E2E2E;
    text-align: center;
    margin: 0;
    transition: 0.25s; }
  .validate-button:hover {
    background-color: #2E2E2E; }
    .validate-button:hover span {
      color: white; }

.steam-login {
  border-radius: 8px;
  background-color: #2E2E2E;
  display: flex;
  align-items: center;
  justify-content: center; }
  .steam-login img {
    width: 38px;
    margin-right: 10px; }
  .steam-login span {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 0; }

.login-content {
  padding: 50px 60px 20px 60px; }
  .login-content .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; }
    .login-content .title-container h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 1.3em;
      font-weight: 300;
      color: #2E2E2E;
      text-align: center;
      margin: 0; }
    .login-content .title-container img {
      margin-top: 25px;
      width: 140px; }
  .login-content .login-form .validate-button, .login-content .signUp-form .validate-button {
    margin-top: 30px; }
  .login-content .login-form .err-container, .login-content .signUp-form .err-container {
    display: flex;
    margin-top: 23px; }
    .login-content .login-form .err-container p, .login-content .signUp-form .err-container p {
      font-family: "Open Sans", sans-serif;
      font-size: 0.825em;
      font-weight: 300;
      color: #f74c4c;
      text-align: center;
      margin: 0; }
  .login-content .steam-login {
    margin-top: 30px; }
  .login-content .bottom-text {
    margin-top: 50px; }
    .login-content .bottom-text p {
      font-family: "Open Sans", sans-serif;
      font-size: 0.7em;
      font-weight: 600;
      color: #2E2E2E;
      text-align: center;
      margin: 0; }
      .login-content .bottom-text p span {
        color: #0073AA;
        cursor: pointer; }

body {
  margin: 0; }

.App .Sidebar, .App .Navbar, .App .Content {
  float: left; }
.App .Content {
  width: calc(100% - 335px); }
.App .Sidebar {
  min-height: 100vh;
  height: 100vh;
  width: 235px;
  background-color: #23282d; }
.App .shrinked {
  width: 50px; }
.App .Content {
  height: calc(100vh - 165px);
  display: inline-block;
  background: #E9E9E9;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto; }
.App .ContentShrinked {
  width: calc(100% - 150px); }
.App .NavbarShrinked {
  width: calc(100% - 50px); }

@media screen and (max-width: 1024px) {
  .App .Sidebar {
    width: 50px; }
  .App .Content {
    width: calc(100% - 150px); } }
@media screen and (max-width: 768px) {
  .App .Content {
    width: 100%; } }

/*# sourceMappingURL=App.css.map */
