.App .Navbar {
  width: calc(100% - 235px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  position: relative;
  flex-direction: row;
  height: 65px;
  background-color: white; }
  .App .Navbar .sidebar-shrinker, .App .Navbar .fullscreen-container, .App .Navbar .sidebar-trigger, .App .Navbar .login-container {
    width: 100px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center; }
    .App .Navbar .sidebar-shrinker img, .App .Navbar .fullscreen-container img, .App .Navbar .sidebar-trigger img, .App .Navbar .login-container img {
      width: 20px;
      cursor: pointer; }
  .App .Navbar .sidebar-trigger {
    display: none; }
  .App .Navbar .login-container {
    width: 200px;
    margin-left: auto; }
    .App .Navbar .login-container p {
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      font-weight: 600;
      color: #2E2E2E;
      text-align: center;
      margin: 0; }

@media screen and (max-width: 1024px) {
  .App .Navbar {
    width: calc(100% - 50px); }
    .App .Navbar .sidebar-shrinker {
      display: none; } }
@media screen and (max-width: 768px) {
  .App .Navbar {
    width: 100%; }
    .App .Navbar .sidebar-trigger {
      display: flex; } }

/*# sourceMappingURL=Navbar.css.map */
