.Content {
  padding: 50px; }
  .Content h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    color: #4a6076;
    text-align: left;
    margin: 0;
    margin-bottom: 25px; }
  .Content .content-content {
    display: flex; }
    .Content .content-content .filters {
      background-color: white;
      border-top: 4px solid rgba(0, 115, 170, 0.5);
      border-radius: 2px;
      width: 220px;
      padding: 25px 35px;
      margin-right: 50px; }
      .Content .content-content .filters h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        font-weight: 400;
        color: #2E2E2E;
        text-align: left;
        margin: 0; }
      .Content .content-content .filters .filter-category {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        margin-top: 25px; }
        .Content .content-content .filters .filter-category h3 {
          font-family: "Open Sans", sans-serif;
          font-size: 0.9em;
          font-weight: 400;
          color: #2E2E2E;
          text-align: left;
          margin: 0; }
          .Content .content-content .filters .filter-category h3 img {
            width: 10px;
            margin-right: 10px; }
        .Content .content-content .filters .filter-category ul {
          list-style: none;
          padding-left: 10px;
          margin-top: 5px; }
          .Content .content-content .filters .filter-category ul li {
            display: flex;
            align-items: center; }
            .Content .content-content .filters .filter-category ul li p {
              font-family: "Open Sans", sans-serif;
              font-size: 0.9;
              font-weight: 400;
              color: #2E2E2E;
              text-align: left;
              margin: 0; }
    .Content .content-content .map-container {
      width: 750px;
      height: 750px;
      position: relative; }
      .Content .content-content .map-container .map {
        width: 100%;
        height: 100%; }
      .Content .content-content .map-container .nade {
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 100%;
        background: white;
        border: 1px solid black;
        cursor: pointer; }

/*# sourceMappingURL=Content.css.map */
